div.list-posts-overview {
		display: flex;
		flex-flow: row wrap;
		> div.item {
				flex: 1 0 26%;
				margin: 0.5rem 0.9rem;
				font-size: $font-size-base * 0.75;
				padding: 0.5rem 0.7rem;
				background-color: $color-light-white;
				border-radius: 0.6rem;

				> a.head {
						font-size: $font-size-base * 0.95;
						margin: 0 0 0.3rem 0;
						color: $color-wisteria;
				}

				> div.desc {
						color: $color-grey;
				}

				> div.ctgtag-container {
						> div.tag {
								display: flex;
								flex-flow: row wrap;
								> div.entry {
										margin: 0 0.2rem;
										padding: 0.1rem 0.4rem;
										border-radius: 0.2rem;
										background: transparentize( $color-darker-white, 0.4);
								}
						}
				}

				> div.summary {
						margin: 0.3rem 0;
				}
		}
}
