@import "variables";

div.indexes {
		display: flex;
		flex-flow: row wrap;
		div#section-card {
				background-color: $color-bg-alt;
				border-radius: 1rem;
				margin: 0.3rem 0.2rem;
				padding: 0.1rem 1rem;
				flex: 1 0 35%;
				// make li bullet appeats on the left of first line when there is a line wrap
				> div.contents {
						display: flex;
						flex-flow: row wrap;
						margin-bottom: 0.8rem;
						> div.entry {
								margin: 0.2rem 0.4rem;
								padding: 0.1rem 0.4rem;
								border-radius: 0.4rem;
								background: transparentize( $color-darker-white, 0.4);
						}

						> div.moreButton {
								padding: 0.3rem 0;
								> a {
										font-style: italic;
										color: $color-pumpkin;
								}
						}
				}
		}
}
