@import "variables";

html {
		font-family: $font-family-base;
}

@mixin word-wrap() {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
}

body {
		font-size: $font-size-base;
		min-height: 100%;
		color: $color-fg;
		background-color: $color-bg;

		display: flex;
		flex-flow: row wrap;

		> * {
				flex: 1 100%;
		}

		div#nav-border {
				display: flex;
				flex-flow: row wrap;
				nav#nav {
						width: 40%;
						margin: 0 auto;
						display: flex;
						justify-content: space-around;
						a {
								color: $color-grey;
								font-family: $font-family-heading;
						}
				}
		}

		div#content {
				width: 75%;
				margin: 0 15% 0 10%;
				@include word-wrap;
		}
}


@media (max-width: 684px) {
    body {
        font-size: $font-size-base * 0.9;
    }
}

@media (max-width: 382px) {
    body {
        font-size: $font-size-base * 0.8;
    }
}

h1, h2, h3, h4, h5, h6 {
		margin: 0.6em 0;
		line-height: 1.0;
		text-transform: capitalize;
    font-family: $font-family-heading;
    font-weight: 700;
    @include word-wrap;
}

h1 { font-size: 2.35em }
h2 { font-size: 2.00em }
h3 { font-size: 1.75em }
h4 { font-size: 1.5em }
h5 { font-size: 1.25em }
h6 { font-size: 1em }

small, sub, sup {
    font-size: 75%;
}

hr {
		border-color: $color-deep-black;
		background: $color-deep-black;
		height: 0.08rem;
}

ul, ol{
    padding-left: 1.4em;
    margin-top: 0px;
    margin-bottom: 1rem;
}

li {
    margin-bottom: 0.3em;
}

p {
    margin-top: 0rem;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    color: $color-dark-blue;
		display: inline-block;

		&:visited {
        color: darken($color-dark-blue , 10%);
    }

		&::after {
				content: '';
				display: block;
				width: 0;
				height: 2px;
				background: $color-grey;
				transition: width .3s;
		}

		&:hover::after {
				width: 100%;
		}
}


blockquote {
    margin-left: 0px;
    margin-right: 0px;
		padding: 0.4rem 0.5rem;
    border-left: 2px solid $color-grey;
    margin-bottom: 1rem;
}

blockquote p {
    margin-bottom: 0;
}


/* Tables */

table {
    text-align: justify;
    width: 100%;
    border-collapse: collapse;
}

td, th {
    padding: 0.5em;
    border-bottom: 1px solid $color-bg-alt;
}

/* Pre and Code */
div.highlight {
		margin-bottom: 1rem;
		overflow-x: scroll;

		pre {
				padding: 0.3rem 0.5rem;
				font-size: 0.9em;
				margin: 0.3em 0;
		}
}

img, video {
    // max-width: 100%;
		display: block;
		margin: 0 auto;
		max-width: 100%;
		min-width: 50%;
}

figcaption {
		text-align: center;
		color: $color-grey;
}
