{{ define "t_headers" }}
{{ $style := resources.Get "scss/single.scss" | resources.ToCSS | resources.Minify }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
{{end}}

{{ define "main" }}
<main>
    <article>
			<header>
        <h1>{{ .Title }}</h1>
			</header>
			{{ .Content }}
    </article>
    <aside>
			{{if ge (len .TableOfContents) 100}}
			{{with .TableOfContents}}
			{{ . }}
			{{end}}
			{{end}}
    </aside>
</main>
{{ end }}


{{ define "foot" }}
{{ $js := resources.Get "js/single.js" | minify }}
<script src="{{ $js.RelPermalink }}"></script>
{{ end }}
