{{/* /tags/term/ */}}
{{/* /categories/term/ */}}

{{ define "t_headers"}}
{{ $style := resources.Get "scss/term.scss" | resources.ToCSS | resources.Minify }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
{{ end }}

{{ define "main" }}
<main>
	<header>
		<h1>All posts for {{ .Type | singularize }}&nbsp;"<span class='taxonomy_name'>{{ .Title }}</span>"</h1>
		{{ if ne .Kind "taxonomy"}} 
    <div class="count">Total {{ len .Pages }} posts</div>
    {{ end }}
	</header>
	<section>
		{{- partial "partials/list-posts-overview.html" (dict "context" . "useContextPages" true)}}
	</section>
<main>
{{ end}}
