{{/* - partial "partials/list-posts-overview.html" (dict "context" . "useContextPages" true) */}}
{{/* contextpages or site pages */}}

<div class="list-posts-overview">
	{{ $pages := site.RegularPages.ByDate.Reverse}}
	{{ if .useContextPages }}
	  {{ $pages = .context.Paginator.Pages}}
	{{ end }}
	{{ range  $pages}}
	<div class="item">
		<a class="head" href="{{.Permalink}}">
			<span>📄 {{.Title}} <sup>{{if not .IsPage}}{{len .Pages}}{{ end }}</sup></span>
		</a>
		{{if .IsPage}}
		<div class="desc">
			C:<span class="date">{{ .Date.Format "2006-01-02" }}</span>
			M:<span class="date">{{ .Lastmod.Format "2006-01-02" }}</span>
		</div>
		
		{{- partial "partials/gettags.html" (dict "context" . "showCategories" false)}}
		<div class="summary">{{ .Summary | markdownify  }}</div>
		{{end}}
	</div>
	{{ end }}
</div>
