{{ define "t_headers"}}
{{ $style := resources.Get "scss/index.scss" | resources.ToCSS | resources.Minify }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
{{ end }}

{{ define "main" }}
<header>
    {{- if $.Site.Params.homepage.show_description -}}
    <h1>{{ $.Site.Title }} - <small>{{ $.Site.Params.site_description }}</small></h1>
		{{ else }}
    <h1>{{ $.Site.Title }}</h1>
    {{- end -}}
		{{.Content}}
</header>
<div class="indexes">
	{{range .Site.Sections}}
	{{if .Section | in $.Site.Params.homepage.sections}}
	{{$sec := .Section}}
	<div id="section-card">
		<h2><a href='{{with .Site.GetPage "section" $sec}}{{.Permalink}}{{end}}' class='color-fg'>{{.Section}}<sup><strong><sup>{{ len .Pages }}</sup></strong></sup></a></h2>
		<div class="contents">
			{{ $postLimit := .Site.Params.homepage.section_number_posts}}
			{{ range first $postLimit .Paginator.Pages }}
			<div class="entry">
				<a href='{{.Permalink}}'>📄 {{.Title}}</a>
			</div>
			{{ end }}

			{{if gt (len .Paginator.Pages) $postLimit }}
			<div class="moreButton">
				<a href='{{with .Site.GetPage "section" $sec}}{{.Permalink}}{{end}}'>More</a>
			</div>
			{{end}}
		</div>
	</div>
	{{end}}
	{{end}}
</div>

{{ end }}
